In [1]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [2]:
def sum_of_100():
    sum=0
    for i in range(1,101):
        sum=sum+i
    return sum

In [3]:
sum_of_100()

5050

In [4]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [5]:
def mullist(mylist):
    result=1
    for x in mylist:
        result=result*x
    return result

In [6]:
list1=(2,5,8)
list2=(3,6,9)
print(mullist, (list1))
print(mullist, (list2))

<function mullist at 0x000001F863D8EDE0> (2, 5, 8)
<function mullist at 0x000001F863D8EDE0> (3, 6, 9)

In [7]:
for x in range(1,21):
    if x%2==0:
        print(x, end=' ')

2 4 6 8 10 12 14 16 18 20

In [8]:
n=int(input('Enter a number:'))
fact=1
for i in range(1,n+1):
    fact=fact*i
    print('The factorial of ',n, 'is', fact)

Enter a number:5
The factorial of  5 is 1
The factorial of  5 is 2
The factorial of  5 is 6
The factorial of  5 is 24
The factorial of  5 is 120

In [9]:
l=[1,4,8,5,2,9]

l.sort()
print('Largest element in array is:', l[-1])

Largest element in array is: 9

In [10]:
a,b=0,1
for i in range(7):
    c=a+b
    print(c, end=' ')
    a=b
    b=c

1 2 3 5 8 13 21

In [11]:
string='Hello World, Welcome'
vowels='aeiouAEIOU'
count=sum(string.count(vowel) for vowel in vowels)
print(count)

6

In [12]:
num=int(input('Enter a number to generate a multiplication number'))
for i in range(1,11):
    result=num*i
    print(num,'*',i,'=',result)

Enter a number to generate a multiplication number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
l1=[1,2,3,4,5,6]
l2=[]
for i in range(len(l1)):
    l2.insert(i,l1[-1])
    l1.pop(-1)
    print(l2)

[6]
[6, 5]
[6, 5, 4]
[6, 5, 4, 3]
[6, 5, 4, 3, 2]
[6, 5, 4, 3, 2, 1]

In [14]:
l2

[6, 5, 4, 3, 2, 1]

In [15]:
l1=[1,2,3,4,5]
l2=[4,5,6,8]
common=[i for i in l1 if i in l2]
print(common)

[4, 5]

In [16]:
states_dist={'UP':'Lucknow',
            'MP': 'Indore',
             'Rajasthan':'Jaipur',
             'Uttrakhand':'Dehradun'
            }
for i in states_dist.keys():
    print(i)

UP
MP
Rajasthan
Uttrakhand

In [17]:
for i in states_dist.values():
    print(i)

Lucknow
Indore
Jaipur
Dehradun

In [18]:
import math
print('The GCD of 30 and 20 is: ', end=' ')
print(math.gcd(30,20))

The GCD of 30 and 20 is:  10

In [19]:
string=input("Enter a string: ")
revstr=''
for i in string:
    revstr=i+revstr
    print('Reverse string is:', revstr)
if(string==revstr):
    print('This string is palindrome')
else:
    print('This string is not palindorme')

Enter a string: malayalam
Reverse string is: m
Reverse string is: am
Reverse string is: lam
Reverse string is: alam
Reverse string is: yalam
Reverse string is: ayalam
Reverse string is: layalam
Reverse string is: alayalam
Reverse string is: malayalam
This string is palindrome

In [29]:
li1=[1,2,3,2,5,1,6]
li2=[]
for i in li1:
    if i not in li2:
        li2.append(i)
print(li2)

[1, 2, 3, 5, 6]

In [32]:
text=input('Enter a string: ')
chk=0
countword=0
textlen=len(text)
for i in range(textlen):
    if text[i]==' ':
        if chk!=0:
            countword=countword+1
        chk=0
    else:
        chk=chk+1
if chk!=0:
    countword=countword+1
print('Number of words: ', countword)

Enter a string: this is a practice session
Number of words:  5

In [7]:
start=int(input('Enter the starting num'))
end=int(input('Enter the ending num'))
sum=0
for i in range(start,end+1):
    if (i%2!=0):
        print('{0}'.format(i))
        sum=sum+i
print("Sum of odd num is: ",sum)

Enter the starting num1
Enter the ending num50
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
Sum of odd num is:  625

In [12]:
def CheckLeap(Year):  
  # Checking if the given year is leap year  
  if((Year % 400 == 0) or  
     (Year % 100 != 0) and  
     (Year % 4 == 0)):   
    print("Given Year is a leap Year");  
  # Else it is not a leap year  
  else:  
    print ("Given Year is not a leap Year")  
# Taking an input year from user  
Year = int(input("Enter the number: "))

Enter the number: 2020

In [13]:
CheckLeap(Year)

Given Year is a leap Year

In [14]:
num1=3
num2=4
for i in range(max(num1,num2),1+(num1*num2)):
    if i% num1==i % num2==0:
        lcm=i
        break
print("LCM of ", num1, "and", num2, "is", lcm)

LCM of  3 and 4 is 12

In [21]:
a=int(input('Enter a number: '))
if a>0:
    print('The number is +ve')
elif a<0:
    print('The number is -ve')
else:
    print('This number is ZERO')

Enter a number: 0
This number is ZERO

In [23]:
a=int(input('Enter a number: '))
if a%2==0:
    print('The number is even')
else:
    print('The number is odd')

Enter a number: 3
The number is odd

In [24]:
num=10
if num>0:
    if num%2==0:
        print('The number is even and +ve')
    else:
        print('The number is odd and +ve')
else:
    print('The number is -ve')

The number is even and +ve

In [27]:
a=2
b=3
c=4

if a>b and a>c:
    print('The largest number is a')
elif b>a and b>c:
    print('The largest number is b')
else:
    print('The largest number is c')

The largest number is c

In [31]:
a=int(input('Enter a value: '))
if a>=0:
    print(a)
else:
    print(-a)

Enter a value: -7
7

In [34]:
ch=input('Enter a charachert: ')
if(ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u' or ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U'):
    print(ch, "is a vowel")
else:
    
    print(ch,'is a consonant')

Enter a charachert: d
d is a consonant

In [39]:
voter=int(input('Enter your age: '))
if voter>=18:
    print("You're eligible to vote")
else:
    print("You're not eligible to vote")

Enter your age: 19
You're eligible to vote

In [42]:
amt=int(input('Enter sale amount'))
if(amt>0):
    if amt<=5000:
        disc=amt*.05
    elif amt<=15000:
        disc=amt*.2
    elif amt<=25000:
        disc=amt*.25
    else:
        disc=amt*.3
    print("Discount is: ",disc)
    print('Net pay is: ',amt-disc)
else:
    print('Invalid amount')

Enter sale amount45000
Discount is:  13500.0
Net pay is:  31500.0

In [48]:
num=int(input('Enter a number: '))
if num in range(2,20,3):
    print(num,'is in the range')
else:
    print(num,'is not in the range')

Enter a number: 17
17 is in the range

In [1]:
print("Enter marks obtained is 5 subjects")
sub1=int(input())
sub2=int(input())
sub3=int(input())
sub4=int(input())
sub5=int(input())

total=sub1+sub2+sub3+sub4+sub5
avg=total/5

if avg>=91 and avg<=100:
    print('Your Grade is A1')
elif avg>=81 and avg<=90:
    print('Your Grade is A2')
elif avg>=71 and avg<=80:
    print('Your grade is B1')
elif avg>=61 and avg<=70:
    print('Your grade is B2')
elif avg>=51 and avg<=60:
    print('Your grade is C1')
elif avg>=41 and avg<=50:
    print('Your grade is C2')
elif avg>=33 and avg<=40:
    print('Your grade is D')
elif avg>33:
    print('Your grade is E')
else:
    print('Invalid number')

Enter marks obtained is 5 subjects
70
80
90
65
55
Your grade is B1

In [2]:
mystr=" "
if len(mystr)==0:
    print('Your string is empty')
else:
    print('Your string is not empty')

Your string is not empty

In [5]:
print('Enter the length of triangle sides')
x=int(input('x: '))
y=int(input('y: '))
z=int(input('z: '))
if x==y==z:
    print('This is Equilateral Triangle')
elif x==y or y==z or x==z:
    print('This is Isosceles triangle')
else:
    print('This is Scalene Triangle')

Enter the length of triangle sides
x: 5
y: 6
z: 7
This is Scalene Triangle

In [11]:
user=int(input('Enter a number for your day in a week: '))
if user ==1:
    print('Your appointment is on Monday')
elif user==2:
    print('Your appointment is on Tuesday')
elif user==3:
    print('Your appointment is on Wednesday')
elif user==4:
    print('Your appointment is on Thursday')
elif user==5:
    print('Your appointment is on Friday')
elif user==6:
    print('Your appointment is on Saturday')
elif user==7:
    print('No appointment for Sunday')
else:
    print('Invalid number')

Enter a number for your day in a week: 3
Your appointment is on Wednesday

In [15]:
Year = int(input("Enter the Year: "))
if((Year % 400 == 0) or  (Year % 100 != 0) and  (Year % 4 == 0)):
    print("Given Year is a leap Year");  
else:  
    print ("Given Year is not a leap Year")

Enter the Year: 2029
Given Year is not a leap Year

In [18]:
age=int(input('Enter the age: '))
if age >=65:
    print('You are Senior Citizen and eligible for tax discounts')
else:
    print('You are not eligible for tax discounts')

Enter the age: 65
You are Senior Citizen and eligible for tax discounts

In [21]:
ch=input('Enter a character: ')
if (ch>='A' and ch<='Z'):
    print('This is Uppercase character')
elif(ch>='a' and ch<='z'):
    print('This is lowercase character')
else:
    print('This is not any type of character')

Enter a character: 0
This is not any type of character

In [24]:
year=int(input('Entera year: '))
if year<=0:
    print('0 and -ve not allowed for a year')
elif year<=100:
    print('This is 1st century')
elif year%100==0:
    print(year//100, 'century')
else:
    print(year//100 +1, 'century')

Entera year: 1993
20 century

In [27]:
import math
num=int(input('Enter a num: '))
sqrt_num=math.sqrt(num)
if sqrt_num.is_integer():
    print('The number is perfect square')
else:
    print('The number is not a perfect square')

Enter a num: 30
The number is not a perfect square

In [29]:
weight=float(input('Enter the weight: '))
height=float(input('Enter the height: '))
bmi= weight/height**2
if bmi<18.5:
    print('underweight')
elif 18.5<=bmi<25:
    print('Normal')
elif 25<=bmi<30:
    print('overweight')
elif bmi>=30:
    print('obesity')

Enter the weight: 72
Enter the height: 5.11
underweight

In [18]:
n=int(input('Enter a number: '))

if n>1:
    for i in range(2,int(n/2)+1):
        if (n%i)==0:
            print(n, 'is not a prime number')
            break
    else:
        print(n,'is a prime number')
else:
    print(n,'is not a prime number')

Enter a number: 7
7 is a prime number

In [20]:
l

[1, 2, 4, 5, 8, 9]

In [21]:
#map functions accept another functions and its iterables as argumnts/parameters and give output a new iterables with results
def test(n):
    return n+2

In [22]:
list(map(test, l))

[3, 4, 6, 7, 10, 11]

In [27]:
def sqr(n):
    return n*n
num=(2,4,6,8)
result=map(sqr,num)
print(list(result))

[4, 16, 36, 64]

In [29]:
lst = [2, 44, 5.5, 6, -7] 
  
# to double the number 
# list comprehension 
x = [i * 2 for i in lst if i>5 ]  
print(x)

[88, 11.0, 12]

In [30]:
# map functions accept another functions and its iterables as argumnts/parameters and give output a new iterables with results
# syntax-- map(functionname, iterables)

# List Comprehension is a substitute for the lambda, map(), filter() and reduce() function.
# syntax-- x=[i*3 for i in list],  [expression for item in list if conditional]

In [31]:
name=map(lambda i:i.upper(), ['karan', 'singh', 'rawat'])
result=list(name)
print(result)

['KARAN', 'SINGH', 'RAWAT']

In [35]:
string='This is python class of map function'
res=list(map(len, string.split()))
print('The length of words is: ' +str(res))

The length of words is: [4, 2, 6, 5, 2, 3, 8]

In [1]:
#reduce is trying to collapse the data untill the final output come.
# to import we need to use, from functools import reduce

In [2]:
l=[2,5,6,8]
from functools import reduce

In [4]:
reduce(lambda a,b: a*b, l)

480

In [5]:
reduce(lambda a,b: a if a>b else b, l)

8

In [7]:
l1=['Hello','Hi','Good Morning']
l2=['World','there','all']
from functools import reduce
result=reduce(lambda res, l:res + [l[0] + ' '+ l[1]], zip(l1,l2),[])
print(result)

['Hello World', 'Hi there', 'Good Morning all']

In [11]:
from functools import reduce
num=int(input('Enter a number: '))
fact=reduce(lambda x,y:x*y, range(1,num+1))
print(fact)

Enter a number: 5
120

In [15]:
from functools import reduce
def gcd(a,b):
    if a==0:
        return b
    else:
        return gcd(b%a,a)
a=[12,24,27,30]
gcdp=reduce(lambda x,y:gcd(x,y),a)
print(gcdp)

3

In [16]:
l1=[1,2,3,6,5,8,9]
from functools import reduce
reduce(lambda a,b: a+b, l1)

34

In [1]:
# The filter() method filters the given sequence with the help of a function
# Syntax: filter(function, iterable or sequence)

In [14]:
list1=[1,2,3,6,5,8,7,11,9,14,15,23,28]

In [15]:
list(filter(lambda a: a%2==0, list1))

[2, 6, 8, 14, 28]

In [38]:
lstr=['karan','pahadi','rawat', 'yes']

In [39]:
list(filter(lambda a: a[0]=='r', lstr))

['rawat']

In [18]:
list1

[1, 2, 3, 6, 5, 8, 7, 11, 9, 14, 15, 23, 28]

In [35]:
list2=[1,3,5,11,12,17,20,23]
for i in list2:
    list(filter(lambda x: x==i or x%i, list2))

In [31]:
def prime (mylist):
        for i in range(2, 8):
            return filter(lambda x: x == i or x % i, mylist)
print(list(prime[2,5,8,9,11,16,17,19,22,23]))

TypeError: 'function' object is not subscriptable

In [37]:
test_list=[1,None, 2,None, 5, False]
print('The original list is: ' + str(test_list))
result=list(filter(lambda item: item is not None, test_list))
print('This is List after removing None ' +str(result))

The original list is: [1, None, 2, None, 5, False]
This is List after removing None [1, 2, 5, False]

In [40]:
list(filter(lambda a: len(a)<=3, lstr))

['yes']

In [41]:
thres_str=['karan','is','pahadi', 'from','uttrakhand']
print('The original string is- ' +str(thres_str))
thres=5
result=list(filter(lambda ele: len(ele)>=thres, thres_str))
print('The result after threshold is- ' +str(result))

The original string is- ['karan', 'is', 'pahadi', 'from', 'uttrakhand']
The result after threshold is- ['karan', 'pahadi', 'uttrakhand']

In [2]:
#Recursion is the process of defining something in terms of itself

In [ ]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

In [5]:
fact(6)

720

In [6]:
def fib(n):
    if n<=1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [11]:
fib(8)

34

In [12]:
def findsum(list1):
    if len(list1)==1:
        return list1[0]
    else:
        return list1[0]+findsum(list1[1:])

list1=[]
list1=[2,5,8,9,6]
print(findsum(list1))

30

In [16]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)

a=int(input("Enter first number: "))
b=int(input('Enter second number: '))
output=gcd(a,b)
print('GCD is: ')
print(output)

Enter first number: 24
Enter second number: 16
GCD is:
8

In [17]:
def revstr(mystr):
    if len(mystr)==0:
        return mystr
    else:
        return revstr(mystr[1:])+ mystr[0]

In [18]:
revstr('rawat')

'tawar'

In [20]:
def power(base,exp):
    if (exp==1):
        return base
    if (exp==0):
        return 1
    if (exp!=1):
        return (base*power(base,exp-1))

base=int(input('Enter the base value: '))
exp=int(input('Enter the exponential value: '))
print('Result is: ', power(base,exp))

Enter the base value: 3
Enter the exponential value: 4
Result is:  81

In [21]:
def permutations(s):
    if len(s)==1:
        return[s]
    else:
        perms=[]
        for i, c in enumerate(s):
            for perm in permutations(s[:i]+s[i+1:]):
                perms.append(c+perm)
        return perms

s='abc'
print(permutations(s))

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [33]:
def palindrom(s):
    if len(s)<1:
        return True
    else:
        if s[0]==s[-1]:
            return palindrom(s[1:-1])
        else:
            return False
        
a=input('Enter a string: ')
if(palindrom(a)==True):
    print('String is Palindrome')
else:
    print('String is not palindrome')

Enter a string: rawat
String is not palindrome

In [35]:
testlst=[2,3,6,5]
print('The list is: ' + str(testlst))
def combination(lst,n):
    if n==0:
        return [[]]
    else:
        return [ for i in range(len(lst)-n+1) for c in combination(lst[i+1:], n-1)]

res=[tuple(c) for i in range(1,4) for c in combination(testlst,i)]
print('The combination is: '+str(res))

SyntaxError: invalid syntax (784843109.py, line 7)

In [ ]:
#A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [36]:
#This is how we define a function in Python
def my_function():
  print("Hello from a function")

In [37]:
my_function()

Hello from a function

In [39]:
#function define
def greet(name):
    print("Hello, " + name)

In [40]:
#function call
greet('John')

Hello, John

In [41]:
def additional(a,b):
    return a+b

In [42]:
additional(5,6)

11

In [43]:
def product(a,b):
    return a*b

In [44]:
product(5,4)

20

In [1]:
#The Formal Parameters are the values determined by the function that accepts values when the function is declared
# The Actual arguments are the parameters which we use in the function call or the parameters which we use to send the values/data during the function call

In [3]:
def num(a=2,b=5):
    sum=a+b
    print('Sum is: ', sum)

num(3,7)
num(a=7)
num()

Sum is:  10
Sum is:  12
Sum is:  7

In [5]:
#Keyword arguments are values that, when passed into a function, are identifiable by specific parameter names.

def team(name, project):
    print(name, 'is working on',project)
team(name='Raj', project='Disney')

Raj is working on Disney

In [8]:
def sum_all(*args):
    t=()
    s=0
    for i in args:
        s=s+i
    print(s)

In [9]:
sum_all(2,5,8,9,6)

30

In [10]:
#*args passes variable number of non-keyworded arguments and on which operation of the tuple can be performed.
#**kwargs passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed

In [11]:
#returns will show the output and can be store in new variable and it used to end the execution of the function call and “returns” the result.

In [12]:
def cube(x):
    r=x**3
    return r

In [13]:
cube(4)

64

In [14]:
#local variables are those which define inside a function
#global variables are those which are not define inside a function and can be used outside the function

In [15]:
x='My global variable'
def var():
    print('Accessing inside a function: '+ x)

var()
print('Accessing outside a function: '+x)

Accessing inside a function: My global variable
Accessing outside a function: My global variable

In [16]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [17]:
factorial(4)

24

In [19]:
#we can access the global variable outside the function only
x=10
def show():
    print('The outside variable is: ', x)
show()

The outside variable is:  10

In [20]:
#A lambda function can take any number of arguments, but can only have one expression and it is anonymous function

In [23]:
tup=[(1000,'java'),(1500,'dotnet'),(2000,'Python')]
tup.sort(key=lambda x:x[1])
print(tup)
tup=[(1000,'java'),(1500,'dotnet'),(2000,'Python')]
sort_list=sorted(tup, key=lambda x:x[1])
print(sort_list)

[(2000, 'Python'), (1500, 'dotnet'), (1000, 'java')]
[(2000, 'Python'), (1500, 'dotnet'), (1000, 'java')]

In [24]:
#Functions that take other functions as parameters or return them as results are called higher-order functions
#map is an example of high order functions

In [27]:
no=[2,5,8,9]
square=map(lambda x:x**2,no)
print(list(square))

[4, 25, 64, 81]

In [28]:
def doub(integer):
    return integer*2
int_list=[3,6,7]
result=list(map(doub,int_list))
print(result)

[6, 12, 14]

In [29]:
#the len() functions returns the length of list
#the min() functions returns the smallest value from a collection
#the max() functions returns the largest value from a collection

In [30]:
def plus(n):
    return n+n
numbers=(1,2,3,6,5)
result=map(plus,numbers)
print(list(result))

[2, 4, 6, 12, 10]

In [31]:
#The filter function can be applied to an iterable such as a list or a dictionary and create a new iterator

In [33]:
from functools import reduce
mylst=[1,2,3,6,9]
product=reduce(lambda x,y:x*y, mylst)
print('Product using reduce func is:', product)

Product using reduce func is: 324